body {
  margin: 0;
  font-family: Arial;
  background: #0f2027;
  color: white;
}

.topbar {
  background: #203a43;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  padding: 40px;
}

.panel {
  background: #2c5364;
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background: #00c6ff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.log, .alerts {
  height: 350px;
  overflow-y: auto;
}
